{% load static %}

<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="shortcut icon"
    type="image/png"
    href="{% static 'images/splash.svg' %}"
  >
  <title>Finch Collector</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <h1>finch-collector</h1>
    <nav>
      <ul>
        {% if user.is_authenticated %}
          <li><a href="{% url 'finches_index' %}">all finches</a></li>
          <li><a href="{% url 'toys_index' %}">all toys</a></li>
          <li><a href="{% url 'finches_create' %}">add a finch</a></li>
          <li><a href="{% url 'toys_create' %}">add a toy</a></li>
          <li><a href="{% url 'about' %}">about</a></li>
          <li><a href="{% url 'logout' %}">log out</a></li>
        {% else %}
          <li><a href="{% url 'about' %}">about</a></li>
          <li><a href="{% url 'home' %}">login</a></li>
          <li><a href="{% url 'signup' %}">sign up</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>